
p{font-size:30px
}

.oluone{font-size:150px;
background-color:#002244;
color:white;
text-align:center;
padding:200px

}
.olutwo{font-size:150px;
background-color: #29AB87;
color:#D9DDDC;
text-align:center;
padding:200px
}

.oluthree{font-size:150px;
background-color:#FFC72C;
text-align:center;
padding:200px
}


.ola{font-size:70px;
font-weight:bold;
background-color:#964B00;
text-align:center;
padding:200px;
height:50vh


}

div{background-color:chocolate;
padding:2px;

}
.olu{
color:brown;
}

